@font-face {
  font-family: "montserrat"; /* Choose a name for your font */
  src: url("assets/montserrat.ttf") format("truetype");
}

html, body {
  font-size: 15px;
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  background: url("assets/day.jpeg");
  background-position: right;
  background-size: cover; /* Initial setting, covers the entire container */
  background-repeat: no-repeat;
  background-attachment: fixed;
  gap: 10px;
  padding: 20px;
  box-sizing: border-box;
  width: fit-content;
  margin: 0; /* Remove default margin */
  font-family: "montserrat", sans-serif;
  color: white;
}

.day {
  background-image: url("assets/day.jpeg");
}

.night {
  background-image: url("assets/night.jpeg");
}

.night #current-information, .night #forecast {
  background-color: rgba(243, 243, 243, 0.065);
}

button {
  cursor: pointer;
}

#search-box {
  position: relative;
  width: fit-content;
  border-bottom: 2px solid #ffffff40;
  padding-bottom: 5px;
  gap: 5px;
}

#city-input {
  width: 250px;
  font-size: 16px;
  border: none;
  background: none;
}

#city-input:focus {
  outline: none;
}

#city-input:focus::placeholder {
  color: transparent;
}

#city-input::placeholder {
  color: #ffffff; /* Set the placeholder color to red */
}

#search-button {
  width: 20px;
  height: 20px;
  filter: invert(100%);
}

#search-button:hover {
  cursor: pointer;
  transform: scale(110%);
}

#current-information {
  display: flex;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.138);
  padding: 20px;
  border-radius: 10px;
  gap: 50px;
}

#top {
  display: flex;
  justify-content:space-between;
  gap: 50px;
}

#location {
  font-size: 2rem;
  font-weight: bold;
  margin: 0;
}

#local-time {
  margin: 0;
}

#current-temperature {
  font-size: 2rem;
  font-weight: bold;
  margin: 0;
}

#feels-like {
  font-size: 0.75rem;
  margin: 0;
}

#current-condition {
  margin-bottom: 0;
}

#bottom {
  display: flex;
  justify-content: space-between;
}

.right {
  text-align: right;
}

#bottom .left {
  display: flex;
  flex-direction: column;
  justify-content: end;
}

#wind, #uv, #humidity {
  margin: 0;
}

#bottom .right {
  display: flex;
  flex-direction: column;
  justify-content: end;
}

#sunset, #sunrise {
  margin: 0;
}

#current-condition-icon {
  height: 64px;
  width: 64px;
}

#unit-buttons {
  display: flex;
  justify-content: flex-end;
  gap: 20px;
}

#temperature-unit, #speed-unit {
  border: none;
  background: none;
  font-family: "montserrat", sans-serif;
  color: white;
}

#temperature-unit:hover, #speed-unit:hover {
  transform: scale(105%);
}

#forecast {
  margin-top: auto;
  background-color: rgba(0, 0, 0, 0.138);
  padding: 20px;
  border-radius: 10px;
}

#forecast-title {
  font-weight: bold;
  font-size: 2rem;
  margin: 0;
}

#daily-forecast-container {
  display: flex;
  justify-content: center;
  gap: 50px;
}

.daily-forecast {
  text-align: center;
}

.forecast-max-temperature {
  font-size: 2rem;
  font-weight: bold;
  margin: 0;
}

.forecast-min-temperature {
  margin: 0;
}

.forecast-condition {
  margin-bottom: 0;
}
